.exp-item {
    border-bottom: 1px solid #808080;
    padding: 20px 0 20px 20px;
}
.exp-item > p {
    margin: 0;
}

.exp-item:last-of-type{
    border-bottom: none;
}

.job-post {
    color: #ffa31a;
}
