.exp-item {
    border: 1px solid #1b1b1b;
    padding-bottom: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
}
.exp-item > p {
    margin: 0;
}

.exp-item:last-of-type{
    border-bottom: none;
}

.job-post {
    color: #ffa31a;
}
