.menu-desktop, .menu-burger-open {
    display:none;
}
.menu-burger {
    position:absolute;
    margin: 10px 0 0 10px;
}

.menu-burger-closed > i {
    color: #ffa31a;
    font-size: 30px;
    border: solid 2px #ffa31a;
    border-radius: 10px;
    padding: 5px;
}

.menu-item > a {
    color: #808080;
}

@media only screen and (min-width: 768px) {

    .menu-desktop {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        padding: 0 10px;
        margin-right: 20px;
    }

    .menu-burger {
    display:none;
    }

    .profil-picture {
        display: flex;
        justify-content: center;
    }

    .profil-picture > img {
        margin-top: 10px;
        object-fit: fill;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: #ffa31a  1px solid;
    }

    .menu-item {
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 0;
    }

    .menu-item > a {
        display:flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .material-icons {
        color: #808080;
    }

    .selected > a {
        color: #ffa31a;
        transform: scale(1.1);
    }
    .selected > a > .material-icons {
        color: #ffa31a;
        transform: scale(1.1);
    }

    .social-media {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .linkedin-logo{
        margin-left: 30px;
    }

}