.hidden {
    display: none;
}
.menu-desktop {
    display:none;
}
.menu-burger-closed, .menu-burger-open {
    position:absolute;

}
.menu-burger-open{
    font-size: 20px;
    width: 200px;
    background-color: #1b1b1b;
    z-index: 99;
    border: solid 2px #ffa31a;
    border-radius: 10px;
    padding: 5px;
}

.menu-burger-closed > i {
    color: #ffa31a;
    font-size: 30px;
    border: solid 2px #ffa31a;
    border-radius: 10px;
    padding: 5px;
}

.menu-item > a {
    color: #808080;
    display:flex;
    align-items: center;
    width: 80%;
}
.material-icons {
    color: #808080;
    margin-right: 20px;
}
.selected > a {
    color: #ffa31a;
    transform: scale(1.1);
}

.selected > a > .material-icons {
    color: #ffa31a;
    transform: scale(1.1);
}

.close-icon > i {
    font-size: 20px;
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
    width: 100%;
    color: #ffa31a;
}

@media only screen and (min-width: 992px) {

    .menu-burger {
        display:none;
    }

    .menu-desktop {
        display:flex;
        padding-top: 10px;
        flex-direction: column;
        justify-content: space-between;
        height: 730px;
        margin-right: 20px;
        font-size: 20px;
    }

    .header-menu {
        font-size: 14px;
    }

    .menu-item > a {
        width: 100%;
    }

    .social-media {
        width: 100%;
        display: flex;
    }
    .linkedin-logo {
        margin-left: 20px;
    }

}