.menu {
    background-color: black;
    padding: 0 10px 10px 10px;
    border: limegreen solid;
    border-radius: 20px;
    height: 500px;
}

.menu-item > a {
    color: lime;
}

.profil-picture {
    display: flex;
    justify-content: center;
}

.profil-picture > img {
    margin-top: 10px;
    object-fit: fill;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: limegreen solid;
}

.selected > a {
    text-decoration: underline;
    padding: 5px;
}