
.s12 > h4 {
    margin-bottom: 30px;
}

.skill-box {
    border: 1px solid #ffa31a;
    color: #808080;
    border-bottom: none;
    border-top: none;
    border-left: none;
    padding: 10px;

}
.exp-box {
    border-right: none;
    padding-top: 20px;
}

.exp-item > .row > div {
    color: #808080;
}

.xp1, .xp2 {
    display:flex;
    justify-content: flex-end;
    color: #ffa31a;
}

