
.s12 > h4 {
    margin-bottom: 30px;
}

.skill-box {
    padding: 10px;
    color: #808080;
}
.exp-box {
    padding-top: 10px;
}

.xp1, .xp2 {
    display:flex;
    justify-content: flex-end;
    color: #808080;
}


@media only screen and (min-width: 1024px)
{

    .row > .languages {
    padding-left: 30px;
    }
    .row > .experiences{
        padding-left: 30px;
    }
    .exp-box {
        padding-left: 30px;
    }

}

