.card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #00000000;
    border: solid 1px  	#ffa31a;
    border-radius: 10px;
    height: 350px;
}
.card:hover {
    cursor: pointer;
}

.card-title{
    color: #808080;
}

.card-img > img {
    object-fit: fill;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: #ffa31a 1px  solid;
    margin: 10px;
}

.types {
    display: flex;
    justify-content: center;
    width: 100px;
    background-color: #ffa31a;
    color: #292929;
    padding: 2px;
    margin: 5px;
    border-radius: 20px;
}
