.profile-picture {
    display: flex;
    justify-content: center;
}

.profile-picture > img {
    margin-top: 10px;
    object-fit: fill;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: #ffa31a  1px solid;
}

.description{
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: #1b1b1b;
}
