@font-face {
    font-family: 'Nunito';
    src: url('./fonts/static/Nunito-Light.ttf');
}
* {
    font-family: 'Nunito';
    color: #808080;
}

html {
    background-color: #292929;
}

h4 {
    color: #ffa31a;
}

.content {
    display: flex;
    min-height: 400px;
    width: 100%;
    flex-direction: column;
    background-color: #292929;
    padding: 65px 0 0 0;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.row {
    margin-bottom: 0;
}

.grow {
    transition: all .2s ease-in-out;
    }

.grow:hover {
    transform: scale(1.1);
    }

@media only screen and (min-width: 768px) {

    .content {
        min-height: 850px;
        padding: 50x 0px 0px 50px;
        border-left: 1px solid #1b1b1b;
    }
}







